
body{
  margin-left: 40px;
}
.files_container{
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
    width: 550px;
    overflow: scroll;
    height: 100px;
    border: solid 2px;
}
table {
  border-collapse: collapse; 
  font-family: helvetica;
}
td, th {border:  1px solid;
      padding: 10px;
      box-sizing: border-box;
      text-align: left;
      min-width:400px;
      max-width:400px;
      overflow: auto;
}
tr:nth-child(even) {background: 	#F0F0F0}
tr:nth-child(odd) {background: #FFF}

thead th {
  cursor: pointer;
  text-align: center;
  background-color:#a6cee3;
  
}
table td:nth-child(2){
  min-width:550px;
}
  
tr.deny{
  color: #ae2c2ced;
}
tr.allow{
  color: #087f5b;
}
.chart {
  width: 100%; 
  min-height: 450px;
}
.graph_container{
  margin:0 !important;
  width: 1350px;
  
}

.table_container{
  height: 550px;
  overflow: auto;
  float: left;
  position: relative;
  margin-left: -5px;
}

.highlight{
  color: red;
}
.action_content{
  float: left;
  padding-top: 16px;
  padding-left: 14px;
}

.info_icon {
  float: left;
  background-image: url('../img/icons8-info-40.png');
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
}
.clear_both{
  clear:both;
}
.warning_icon{
  float: left;  
  background-image: url('../img/icons8-warning-48.png');
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
}

.footer_container{
  clear:both;
  padding-top:20px;
  overflow: hidden;
  position: relative;

}

.notice_container{
  /* position: absolute; */
  /* bottom: -2000px; */
  display: none;
}


.warning_container:hover .tooltip {
  display: block;
}

.tooltip {
    margin-left: 50px;
    padding: 10px;
    width: 200px;

    color: white;
    display: none;
    background: #e19831;
    position: absolute;
}
.warning_additive{
  padding-top: 16px;
 
}

.warning_additive:hover .tooltip{
  display: block;
}

.warning_additive.action_content{
  text-decoration:line-through;
}
  
